.cart-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  min-height: 80vh;
}
.cart-items {
  flex: 2;
}

.cart-items h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #222;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h4 {
  margin: 0 0 0.3rem 0;
  font-size: 1.2rem;
  color: #333;
}

.cart-price {
  font-weight: bold;
  color: #e63946;
}
.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.quantity-control button {
  padding: 0.3rem 0.8rem;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.2s;
}

.quantity-control button:hover {
  background: #ddd;
}
.remove-btn {
  background: transparent;
  border: none;
  color: #e63946;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.remove-btn:hover {
  text-decoration: underline;
}
.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  background: #d2cfcf;
  height: fit-content;
}

.cart-summary h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.cart-summary h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
  color: #ea0b0b;
}

.checkout-btn {
  width: 100%;
  padding: 0.8rem;
  background: #ff9900;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #e68a00;
}
.remove{
  background-color: rgb(200, 14, 14);
  color: white;
  border-radius: 20px;
}
@media source and (max-width: 400px) {
  .cart-container {
  display: flex;
  gap:8px;
  padding: 2rem;
  min-height: 1000vh;
} 
.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background: #f9f9f9;
  height: fit-content;
}
.cart-summary h3 {
  font-size:20px;
  margin-bottom: 0.5rem;
}

.cart-summary h2 {
  font-size: 20px;
  margin: 0.5rem 0 1rem 0;
  color: #222;
}
.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 0.5rem 0;
}

.quantity-control button {
  padding: 0.3rem 0.8rem;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.2s;
}

.quantity-control button:hover {
  background: #ddd;
}
}