.search-container {
  position: relative;
  flex-grow: 1;         
  margin: 0 20px;        
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
}

.search-results {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  margin: 0;
  z-index: 1000;
}

.search-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-item:hover {
  background: #f5f5f5;
}

.search-no-results {
  padding: 8px;
  color: #999;
}

.btn{
    background: linear-gradient(90deg,red,orange);
    color: #fff;

}
.btn:hover{
    background:linear-gradient(90deg,rgb(201, 5, 5),rgb(201, 133, 6));
}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f5f5f5;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.signup-form button:hover {
  background: #005fcc;
}

.signup-form p {
  margin-top: 15px;
  font-size: 14px;
}

.signup-form a {
  color: #0077ff;
  text-decoration: none;
}

.signup-form a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (max-width: 400px){
  .search-container {
  position: relative;
  flex-grow: 1;          
  margin: 0 20px;        
}
.navbar-brand{
  font-size: 15px;
}


.search-input {
  width: 100%;
  font-size: 12px;
}


.search-results {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 5px;
  margin: 0;
  z-index: 1000;
}


.search-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-item:hover {
  background: #f5f5f5;
}


.search-no-results {
  padding: 8px;
  color: #999;
}
}